---
import "../styles/global.css";

import type { Metadata } from "../schemas";
type Props = Metadata;

const { title, description, thumbnail, alt, author, language } = Astro.props;
import Meta from "../components/Meta.astro";
import TopBar from "../components/TopBar.astro";
---

<!doctype html>
<html lang={language}>
    <head>
        <Meta
            title={title}
            description={description}
            thumbnail={thumbnail}
            alt={alt}
            author={author}
            language={language}
        />
    </head>
    <body class="bg-sky-100 text-black dark:bg-gray-900 dark:text-white">
        <style>
            body.auto {
                @apply transition-colors duration-300 ease-in-out;
            }
        </style>
        <TopBar />
        <slot />
    </body>
</html>
